.vscode
.idea
public/themes/valex/assets/_plugins
public/themes/valex/assets/_js
.scannerwork*
#src/Shared/.scannerwork

architecture/*.crswap
vendor/*
!/vendor/theframework
!/vendor/phpqrcode
.env.prod
.env.test
.env.dev
/config/*.prod.*
/config/*.test.*
/config/*.dev.*
/db/*.prod.*
/db/*.test.*
/db/*.dev.*
/logs/*/*.log
/logs/*.log
cache/*
!cache/.gitkeep
src/xxx-module/*
!src/xxx-module/files
./vendor.zip
/public/images/qr
